.course-sidebar {
    width: 195px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 22px;
  }
  
  .course-sidebar-item {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    margin: 3px;
    color: red;
    text-decoration: none;
    border-left: 3px solid transparent;
    padding-left: 10px;
    white-space: wrap;
  }
  
  .course-active-link {
    background: white;
    color: black;
    border-color: black;
    padding-left: 9px;
    margin-right: 17px;
  }
  