.sidebar {
    width: 80px;
    background-color: black;
    text-align: center;
    padding: 10px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 0;
    margin: 8px 0;
}

.sidebar a i {
    font-size: 20px;
    margin-bottom: 5px;
}

.sidebar a.active {
    background-color: white;
    color: red;
}